@*Make sure Validators catch errors before the user inputs try to put new data in database*@

@{
        Layout = "~/_Layout.cshtml";
        Page.Title = string.Format("Razor - {0}", "Exercise 03");

        var pid = Request.QueryString["pid"];

        string artistid = "";

        var message = "";

        //these are validator controls execute on the server side

        Validation.Add("Title",
             Validator.Required("Title is required"),
             Validator.StringLength(160, 1, "Title name is limited to 160 characters"));

        Validation.Add("Artist",
             Validator.Required("Must choose an artist from the list"));

        Validation.Add("Year",
            Validator.Required("Album Year is required"),
            Validator.Integer("Record year must be a number."),
            Validator.Range(1950, 2020, "Record Year must be between 1950 and 2020"));

        Validation.Add("Label",
             Validator.StringLength(50, 1, "Label name is limited to 50 characters"));



        var db = Database.Open("CHINOOK");
        var artistName = "SELECT Name "
                            + "FROM Artists "
                            + "ORDER BY Name";
        var queryArtists = db.Query(artistName);

    }

    @section banner {
    <h1>@Page.Title</h1>
}

@*<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="lblartistArg" for="artistArg">Title:</label>&nbsp;&nbsp;
            <input type="text" id="artistArg" name="artistArg"
                   value="@artistarg" placeholder="partial artist name" />
            <label id="artistid">Select from the list:</label>&nbsp;&nbsp;
            <select id="artistid" name="artistid">
                <option value="">select ...</option>

                @foreach (var row in results)
                {
                    <option value="@row.ArtistId">@row.Name</option>

                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="Add"
                    class="btn btn-primary">
                Add
            </button>
            <button type="reset" id="theButton" name="theButton" value="Clear"
                    class="btn btn-primary">
                Clear
            </button>
        </div>
    </div>
</form>*@
<form id="theForm" action="" method="post">
    <div class="row row-cols-2">
        <div class="col text-right">
            <label id="lblTitle" for="Title"><b>Title:</b></label>
        </div>
        <div class="col text-left">
            <input type="text" name="Title" value=""/>
        </div><br />
        <div class="col text-right">
            <label id="lblArtist" for="Artist"><b>Artist:</b></label>
        </div>
        <div class="col text-left">
            <select name="Artist">
                <option value="0">select...</option>
                @foreach (var row in queryArtists)
                {
                    <option>@row.Name</option>

                }
            </select>
        </div><br />
        <div class="col text-right">
            <label id="lblAlbumYear" for="Year"><b>Year:</b></label>
        </div>
        <div class="col text-left">
            <input type="text" name="Year" value="" />
        </div><br />
        <div class="col text-right">
            <label id="lblRecordLabel" for="Label"><b>Label:</b></label>
        </div>
        <div class="col text-left">
            <input type="text" name="Label" value="" />
        </div><br />
       
    @*<div class="row">
        <div class="col-12 text-center">
            <button type="submit" name="theButton" id="theUpdate" class="btn btn-primary"
                    value="update">
                Update
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theDiscontinue" class="btn btn-primary" formnovalidate
                    value="discontinue">
                Discontinue
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theDelete" class="btn btn-primary" formnovalidate
                    value="delete">
                Delete Record
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theCancel" class="btn btn-primary" formnovalidate
                    value="backtosearch">
                Back to Search
            </button>
        </div>
    </div>*@

    @* confirmation can be done on a button click using javascript
        we will ask the user to confirm the discontinuing of a product*@
    @*<script type="text/javascript">
        document.getElementById("theDiscontinue").onclick = ConfirmDiscontinue;
        function ConfirmDiscontinue() {
            return confirm("Are you sure you want to DISCONTINUE @productname?");
        }
        document.getElementById("theDelete").onclick = ConfirmDelete;
        function ConfirmDelete() {
            return confirm("Are you sure you want to DELETE @productname?");
        }
    </script>*@
</form>
