@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04-D");

    var cid = Request.QueryString["cid"];
    if (cid.IsEmpty())
    {
        Response.Redirect("~/ExercisePages/Exercise04_C.cshtml");
    }
    var title = Request.Form["Title"];
    var artistid = Request.Form["ArtistId"];
    var releaseyear = Request.Form["ReleaseYear"];
    var releaselabel = Request.Form["ReleaseLabel"];
    var albumid = Request.Form["AlbumId"];
    var thebutton = Request.Form["theButton"];
   

    var message = "";


    Validation.Add("Title",
        Validator.StringLength(160, 0, "Maximum title length of 160 characters"),
        Validator.Required("You need a heckin album title!"));

    Validation.Add("ArtistId",
        Validator.Required("You need an Artist ID and its gotta be an Integer!"));

    Validation.Add("ReleaseYear",
        Validator.Required("You need to tell me what year it was heckin released!"),
    Validator.Range(1950, 2020, "Unit price must be 0.00 or more"));

    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 0, "Max Label Name length 50 characters"));

    var db = Database.Open("CHINOOK");

    var queryStatement = "SELECT Title, ArtistId, SupplierID, "
                        + "CategoryID, QuantityPerUnit, UnitPrice, "
                        + "UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued "
                        + "FROM Products "
                        + "WHERE Title = @0";
    var queryAlbum = db.QuerySingle(queryStatement, cid);
}



@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (Validation.IsValid())
    {
        try
        {
            if (thebutton.Equals("backtosearch"))
            {
                Response.Redirect("~/ExercisePages/Exercise04_A.cshtml");
            }
            if (thebutton.Equals("update"))
            {
                var sqlcommand = "UPDATE Albums SET "
                + "Title = @0, "
                + "ArtistId = @1, "
                + "ReleaseYear = @2, "
                + "ReleaseLabel = @3, "
                + "WHERE AlbumId = @4";
                var rowsaffected = db.Execute(sqlcommand, title,
                string.IsNullOrEmpty(title) ? null : title,
                artistid.Equals("0") ? null : artistid,
                string.IsNullOrEmpty(releaseyear) ? null : releaseyear,
                string.IsNullOrEmpty(releaselabel) ? null : releaselabel);
                if (rowsaffected > 0)
                {
                    message = "Product has been UPDATED";
                }
                else
                {
                    message = "Product NOT found";
                }
            }
            else if (thebutton.Equals("delete"))
            {
                var deleteStatement = "Delete Products WHERE AlbumId = @0";

                var rows = db.Execute(deleteStatement, title);
                if (rows == 1)
                {
                    message = "Product has been DELETED";
                }
                else
                {
                    message = "Product NOT found";
                }
                title = "";
                artistid = "";
                releaseyear = "0";
                releaselabel = "0";
            }
        }

        catch (Exception ex)
        {
            <div class="col-12 text-center">
            <p style="color:firebrick; font-size:large">
                Processing error: @ex.Message
            </p>
            </div>
        }
    }
}

@Html.ValidationSummary()

<div class="col-12 text-center">
    <p style="color:green">
        @message
    </p>
</div>
<form id="theForm" action="" method="post">
    <div class="row row-cols-2">
        <div class="col text-right">
            <releaselabel id="lblProductID" for="Title">Title</releaselabel>
        </div>
        <div class="col text-left">
            <input type="text" name="Title" value="@title" />
        </div><br />
        <div class="col text-right">
            <releaselabel id="lblProductName" for="ArtistId">ArtistID</releaselabel>
        </div>
        <div class="col text-left">
            <input type="text" name="ArtistId" value="@artistid" />
        </div><br />
        <div class="col text-right">
            <releaselabel id="lblSupplierList" for="ReleaseYear">Release Year</releaselabel>
        </div>
        <div class="col text-left">
            <input type="text" name="ReleaseYear" value="@releaseyear" />
        </div><br />
        <div class="col text-right">
            <releaselabel id="lblSupplierList" for="ReleaseLabel">Release Label</releaselabel>
        </div>
        <div class="col text-left">
            <input type="text" name="ReleaseLabel" value="@releaselabel" />
        </div><br />


    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" name="theButton" id="theUpdate" class="btn btn-primary"
                    value="update">
                Update
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theDelete" class="btn btn-primary" formnovalidate
                    value="delete">
                Delete Record
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theCancel" class="btn btn-primary" formnovalidate
                    value="backtosearch">
                Back to Search
            </button>
        </div>
    </div>
    @* confirmation can be done on a button click using javascript
        we will ask the user to confirm the discontinuing of a product*@
    <script type="text/javascript">
        document.getElementById("theDelete").onclick = ConfirmDelete;
        function ConfirmDelete() {
            return confirm("Are you sure you want to DELETE @albumid?");
        }
    </script>
</form>